html {
  overflow: -moz-scrollbars-vertical;
  height: 100%;
  width: 100%;
}

body {
	background: #349bfc;
	font-family:'Space Mono', 'Work Sans';
  font-size: 14px;
  background-color: #20a5f1;
	color: rgb(255, 255, 255);
  height: 75%;
  width: 100%;
  color:rgb(255, 255, 255);
  margin: auto;
}

footer{
  font-family:'Space Mono';
  text-align: center;
  padding-bottom: 50px;
}
.social_links{
  padding-bottom:10px;
}
.social_links a{
  font-size:30px;
  padding-right:10px;

}
.social_links a:hover{
  font-size:35px;
}
.email a:hover{
  font-size:15px;
}

.text_container_intro{
  margin-top:12vw;
  height:50%;
  overflow: auto;
  padding-bottom: 50px;
}

.text_container_fit{
  padding: 25px 50px 50px 50px;
}

.text_container_fit_center{
  padding: 25px 50px 50px 50px;
  display:flex;
  justify-content: center;
}

.text_title{
  display:block;
  margin:0 auto;
  font-weight:bold;
  line-height:1.0;
  text-align:center;
  font-family:'Space Mono';
}

@media screen and (min-aspect-ratio: 1 / 1){
  .text_title{
      font-size:5vw;
  }
}
@media screen and (max-aspect-ratio: 1 / 1){
  .text_title{
      font-size:9vw;
  }
}
.text_description{
  display:block;
  margin:0 auto;
  font-family:'Work Sans';
  line-height:1.5;
  text-align:center;
  padding-top:25px;
  font-size:20px;
  max-width: 60%;
}
header{
  padding: 30px 20px 30px 20px;
}
.menu {
  text-transform: uppercase;
  font-size: 20px;
  font-family:'Space Mono';
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 25px;
  left: 25px;
}
.menu:hover {
  pointer-events: all;
}
.label {
display: inline-block;
font-weight:bold;
cursor: pointer;
pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  position: relative;
}
.item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  margin-right: 30px;
  top: 0px;
}
.item:hover a {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: 'Space Mono';
}

p {
  font-family: 'Work Sans';
}

.active {
  border-bottom: 1px solid #fdfdfd;
}

::-webkit-scrollbar {
  width: 10px;
  color:rgb(255, 255, 255);
}

.card {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  margin: 25px 25px 25px 25px;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px 0 #ffffff;
  width:40%;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #ffffff;
}

.card_text{
  padding: 2px 16px;
}

.card img {
  width:100%;
  height:250px;
}

iframe{
  margin-top:30px;
  width:70%;
  height:850px;
}
// Settings

$c_0: #000000;
$c_1: #353540;

// Basic reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $c_1;
}


.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  
  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
  
  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out;
    
    // Gloss 
    
    &::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
      transform: translateY(-20%);
      will-change: transform;
      transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
    }
    
  }
  
  &:hover &__cover {
    transform: rotateX(7deg) translateY(-6px);

    &::after {
      transform: translateY(0%);
    }
    
  }
  
  // Shadows
  
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba($c_0, 0.5);
    box-shadow: 0 6px 12px 12px rgba($c_0, 0.4);
    will-change: opacity;
    transform-origin: top center;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  }
  
  &:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
  
  
}